.has-search .form-control {
    padding-left: 2.2rem;
    border:10px solid "#000000";
    border-radius: 0%;
    font-size: 11px;
    font-weight: bold;
    width: 98px;
}
.col{
    width: 100%;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color:#696969;
    padding-left: 1rem;
    margin-top:5%;
}
.row{
     margin: 1%;
}
.hello{
    margin-left: 2%;
    float: right;
    padding-top: 6%;
}
.imgg{
    float: right;
    padding-top: 2%;
}
.clearfix{
    clear: both;
}

.navbar {
    box-shadow: none;
    margin-top: -5%;
    font-weight: bold;
}
