.change{
    background-color:#000;
    color:white;
    width:100%;
    padding:1.5%;
    font-size:0.86em;
    letter-spacing:1px;
    border: 1.1px solid #000000;
    
}
.change:hover:hover {
    text-decoration:none;  
    color: #000;
    background-color:white;
}